.register-form {
 
  
  /* width: fixed(388px);
  height: hug(765px); */
 
}

label {
  text-align: left;
  padding: 1rem 0;
}

input {
  
  padding: 1rem;
  border: none;
  border-radius: 10px;
  width: 100%;
}

button {
  border: none;
  margin-top: px;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  color: white;
 text-align: center;
  
}

.link-btn {
  
  background: none;
  color: black;
  text-decoration: underline;
  margin: 10px;
}

img {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 3px;
  border: 1px;
  border-radius: 24px;
  gap: 0px;
  opacity: 0px;
}

.img-bg {
  padding: 20px;
}
