.auth-form-container {
  display: flex;
  flex-direction: column;

  padding: 10rem;
  margin: 0.5rem;
}

.login-form {
  width: 100%;
  /* display: flex;
  flex-direction: column;
  
  gap: 48px; */
}

.main-wrapper {
  display: flex;
}

label {
  text-align: left;
  padding: 1rem 0;
}

input {
  
  padding: 1rem;
  border: none;
  border-radius: 10px;
  width: 100%;
}

button {
  border: none;
  margin-top: px;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  color: white;
 text-align: center;
  
}

.link-btn {
  
  background: none;
  color: black;
  text-decoration: underline;
  margin: 10px;
}